@import '../../../node_modules/pikaday/css/pikaday.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-flex {
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 40%;
  min-height: 100vh;
}

.form-flex , .form-flex > .d-flex {
  flex-wrap: wrap;
  gap: 20px;
}

.form-floating > textarea.form-control {
  height: 150px;
}

.form-info > legend{
  width: 100%;
}

.form-info > *:not(legend){
  flex-grow: 1;
  flex-basis: auto;
}